/*=======================================
=            Override Styles            =
=======================================*/
* {
	box-sizing: border-box;

}

@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap-custom';
@import 'vars';
body {
	font-family: 'NeutraTextPS-Book';
	color: $dark;
}

a {
	color: $dark;
}

 .logo {
	margin: 1em auto .5em;
	display: block;
	width: 10%;
	min-width: 54px;
}

.wrapper {
	max-width: 95%;
	width: 95%;
	margin: 0 auto;
}

nav.navbar {
	margin: -2em 0 0 0;
	background: none;
	background-color: transparent;
	border: none;

	ul {
		padding: 0;
		margin: 0;
		width: 100%;


	}

	li {
		list-style: none;
		display: inline-block;
		text-transform: uppercase;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			float: left;
			margin: 0 1em 0 0;
		}

		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8) {
			float: right;
			margin: 0 0 0 1em;
		}

		@media (max-width: 768px) {
			display: block;	
			width: 100%;
			float: none;
			background: white;
			padding: 10px 0;
		}

	}

	a {
		color: $dark;
	}


	@media (max-width: 768px) {
		margin: -40px 20px 1em 20px;
	}
}

.navbar-toggle {
	float: left;
}

#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

#navbar-toggle-cbox {
  display:none
}

#navbar {
	overflow: hidden;
	padding: 0;
}

/*=====  End of Override Styles  ======*/


/*=======================================
=            Homepage styles            =
=======================================*/

body {
	&.home {
		.wrapper {
			max-width: 100%;
			width: 100%;
		}

		main h1 {
			display: none;
		}

		#pg-14-0 {
			margin: 0;
		}

		#pg-14-0 .panel-grid-cell {
			padding-left: 0;
			padding-top: 0;
			padding-right: 0;
			padding-bottom: 0;
		}

		nav.navbar {
			// margin: 20px 1em;
			padding: 0 1em;
		}

		#pg-14-1 {
			position: absolute;
			width: 25%;
			left: 0;
			right: 0;
			margin: 0 auto;
			top: 60%;
			background: #FFF;
			padding: 40px;
			border-radius: 23px;
			opacity: .8;

			@media (max-width: 768px) {
				display: none;
			}
		}
	}
}


/*=====  End of Homepage styles  ======*/


/*=======================================
=            Get Fitted page            =
=======================================*/

body.page-id-175 main h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 70px;
	letter-spacing: 20px;
	font-weight: bold;
	margin: .5em 0;
	background: #000;
	color: #FFF;
}


/*=====  End of Get Fitted page  ======*/

/*=================================
=            Shop page            =
=================================*/

.woocommerce-LoopProduct-link,
.product {
	text-align: center;
}

/*=====  End of Shop page  ======*/


/*====================================
=            Product page            =
====================================*/

body.product-template-default {
	// background: #289320;

	.swatch-wrapper {
		border-radius: 100px;
		overflow: hidden;

		a {
			width: 75px !important;
			height: 75px !important;
		}
		img {
			width: 100%;
			border-radius: 100px;
		}
	}

	.a3dg-navbar-control {
		display: none;
	}

	.a3-dgallery {
		.a3dg-forward,
		.a3dg-back {
			border: none !important;
		}
	}

	.a3dg-image-wrapper {
		border: none !important;
	}

	.product_meta {
		display: none;
	}

	.woocommerce-variation-add-to-cart {
		width: 20%;
		min-width: 170px;
		margin: 0 auto;
	}

	.attribute_pa_color_picker_label {
		font-weight: bold;
		text-align: left;
	}
}

/*=====  End of Product page  ======*/


/*==============================
=            Footer            =
==============================*/

footer {
	padding: 0 1em;
	

	#mailchimpsf_widget-2 {
		width: 25%;
		margin-bottom: -80px;
		
		h3 {
			margin: 0;
			text-transform: uppercase;
			font-size: 16.5px;
		}

		#mc_signup_submit {
			margin-top: 10px;
		}

		#mc_signup {
		}

		label[for=mc_mv_EMAIL]{
			display: none;
		}

		.mc_merge_var {
			display: inline-block;
			width: 63%;
		}

		.mc_signup_submit {
			display: inline-block;
			width: 35%;
		}

		@media (max-width: 768px) {
			width: 100%;
			margin: 20px auto;
			text-align: center;
		}
	}

	#text-4 {
		text-align: center;

		@media (max-width: 768px) {
			border-bottom: solid 2px $dark;
			padding-bottom: 10px;
		}
	}

	#text-3 a {
	    margin-left: 20px;
	}

	#wpcw_social-3 {
		padding-bottom: 1em;

		li {
			margin: 1em 0 0 45px;


			@media (max-width: 768px) {
				float: none;
				margin: 0;
				width: 25%;
				text-align: center;
			}
		}


	}

	#text-3,
	#wpcw_social-3 {
		text-align: right;

		@media (max-width: 768px) {
			text-align: center;
			margin: 2em 0 1em;
		}
	}


	#nav_menu-23 {
		width: 100%;
		border-top: solid 3px $dark;
		padding: .5em 0;

		ul {
			margin: 0;
			padding: 0;
			width: 100%;

			li {
				float: left;
				list-style: none;
				width: 16.5%;
				text-transform: uppercase;
				text-align: center;
				padding: 1em 0;
				&:first-child {
					text-align: left;
				}

				&:last-child {
					text-align: right;
				}

				@media (max-width: 768px) {
					width: 100%;
					text-align: center !important;
				}
			}
		}
	}
}


/*=====  End of Footer  ======*/

