/*=======================================
=            Override Styles            =
=======================================*/
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap-custom';
@import 'vars';
body {
	font-family: 'NeutraTextPS-Book';
	color: $dark;
}


/*=====  End of Override Styles  ======*/


/*=======================================
=            Override Styles            =
=======================================*/
a {
	color: $dark;
}

 .logo {
	margin: 1em auto;
	display: block;
	width: 10%;
}

.wrapper {
	max-width: 95%;
	width: 95%;
	margin: 0 auto;
}

nav.nav {
	margin: -2em 0 4em 0;
	ul {
		padding: 0;
		margin: 0;
		width: 100%;


	}

	li {
		list-style: none;
		display: inline-block;
		text-transform: uppercase;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			float: left;
			margin: 0 1em 0 0;
		}

		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8) {
			float: right;
			margin: 0 0 0 1em;
		}

	}

	a {
		color: $dark;
	}
}

/*=====  End of Override Styles  ======*/


/*=======================================
=            Homepage styles            =
=======================================*/

body {
	&.home {
		.wrapper {
			max-width: 100%;
			width: 100%;
		}

		main h1 {
			display: none;
		}

		#pg-14-0 {
			margin: 0;
		}

		#pg-14-0 .panel-grid-cell {
			padding-left: 0;
			padding-top: 0;
			padding-right: 0;
			padding-bottom: 0;
		}

		nav.nav {
			padding: 0 1em;
		}
	}
}


/*=====  End of Homepage styles  ======*/


/*=======================================
=            Get Fitted page            =
=======================================*/

main h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 70px;
	letter-spacing: 20px;
	font-weight: bold;
	margin: .5em 0;
	background: #000;
	color: #FFF;
}


/*=====  End of Get Fitted page  ======*/


/*==============================
=            Footer            =
==============================*/

footer {
	padding: 0 1em;
	
	#text-4 {
		text-align: center;
	}

	#text-3 a {
	    margin-left: 20px;
	}

	#wpcw_social-3 {
		padding-bottom: 1em;

		li {
			margin: 1em 0 0 45px;
		}
	}

	#text-3,
	#wpcw_social-3 {
		text-align: right;
	}


	#nav_menu-23 {
		width: 100%;
		border-top: solid 3px $dark;
		padding: .5em 0;

		ul {
			margin: 0;
			padding: 0;
			width: 100%;

			li {
				display: inline-block;
				width: 16.5%;
				text-transform: uppercase;
				text-align: center;
				padding: 1em 0;
				&:first-child {
					text-align: left;
				}

				&:last-child {
					text-align: right;
				}
			}
		}
	}
}


/*=====  End of Footer  ======*/

