/*=======================================
=            Override Styles            =
=======================================*/
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap-custom';
@import 'vars';
body {
	font-family: 'NeutraTextPS-Book';
	color: $dark;
}


/*=====  End of Override Styles  ======*/


/*=======================================
=            Override Styles            =
=======================================*/

 .logo {
	margin: 1em auto;
	display: block;
	width: 10%;
}

nav.nav {
	margin: -2em 0 4em 0;
	ul {
		padding: 0 1em;
		margin: 0;
		width: 100%;


	}

	li {
		list-style: none;
		display: inline-block;
		text-transform: uppercase;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			float: left;
			margin: 0 1em 0 0;
		}

		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8) {
			float: right;
			margin: 0 0 0 1em;
		}

	}

	a {
		color: $dark;
	}
}

/*=====  End of Override Styles  ======*/


/*=======================================
=            Homepage styles            =
=======================================*/

body {
	&.home {
		.wrapper {
			max-width: 100%;
			width: 100%;
		}

		main h1 {
			display: none;
		}

		#pg-14-0 {
			margin: 0;
		}

		#pg-14-0 .panel-grid-cell {
			padding-left: 0;
			padding-top: 0;
			padding-right: 0;
			padding-bottom: 0;
		}
	}
}


/*=====  End of Homepage styles  ======*/


/*==============================
=            Footer            =
==============================*/

footer {
	#text-4 {
		text-align: center;
	}

	#text-3,
	#wpcw_social-3 {
		text-align: right;
	}


	#nav_menu-23 {
		width: 100%;

		ul {
			margin: 0;
			padding: 0;
			width: 100%;

			li {
				display: inline-block;
				width: 25%;
				text-align: center;
			}
		}
	}
}


/*=====  End of Footer  ======*/

