.appearance_page_yumecommerce-theme-panel #wpwrap {
    background: #ddd;
    background-image: linear-gradient(#8b9da9, #fff6e4);
    min-height: 100%;
    color: #44494a;
}

.theme-option-description {
    color: #fff;
}

.appearance_page_yumecommerce-theme-panel.wp-core-ui #wpwrap input.button-primary {
    position: relative;
    margin: 0;
    display: block;
    height: 42px;
    line-height: 22px;
    text-decoration: none;
    background-color: #fafafa;
    color: #9a9ca2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 4px #e7e7e7, 0 6px 1px #d0d0d2;
    -webkit-box-shadow: 0 4px #e7e7e7, 0 6px 1px #d0d0d2;
    box-shadow: 0 4px #e7e7e7, 0 6px 1px #d0d0d2;
    border: 0;
    text-shadow: none;
    font-size: 1em;
    padding: 10px 30px;
    font-weight: bold;
    transition: color .3s ease;
}

.appearance_page_yumecommerce-theme-panel.wp-core-ui #wpwrap input.button-primary:hover {
    color: #111;
}

.appearance_page_yumecommerce-theme-panel #wpwrap .form-table th,
.appearance_page_yumecommerce-theme-panel #wpwrap .wrap form h2 {
    display: none;
}

.appearance_page_yumecommerce-theme-panel #wpwrap .wrap h1 {
    color: #fff;
}

.appearance_page_yumecommerce-theme-panel #wpwrap .form-table td {
    padding: 20px 0;
}

.appearance_page_yumecommerce-theme-panel #wpwrap textarea {
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    width: 100%;
    max-width: 500px;
    height: 120px;
    padding: 15px 20px;
    color: #788183;
}