/**
 * Header styles
 */

 header.bodyBoxed {
    position: fixed;
    width: 100%;
    z-index: 9990;
    top: 0;
    height: 50px;
    right: 0;
    left: 0;
}

header.bodyBoxed .header {
    height: 50px;
    position: relative;
}

.logo a {
    height: 48px;
    display: block;
}

h4.site-title {
    font-size: 1.4em;
    line-height: 48px;
    margin: 0 !important;
}

#close-icon {
    position: absolute;
    height: 49px;
    width: 60px;
    z-index: 22;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

#close-icon svg {
    position: relative;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#nav-icon {
    position: relative;
    height: 49px;
    width: 60px;
    z-index: 12;
    float: left;
    cursor: pointer;
}

#nav-icon svg {
    position: relative;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#mobile-nav {
    width: 240px;
    max-height: 100vh;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 26px 0 52px -26px rgba(0,0,0,.4);
    background: #fafafa;
    z-index: 9999;
    -webkit-transform: translateX(-290px);
    -ms-transform: translateX(-290px);
    transform: translateX(-290px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .35s cubic-bezier(0.4,0,0.2,1);
    transition: transform .35s cubic-bezier(0.4,0,0.2,1);
}

#mobile-nav-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .7em 2em 2em;
    font-size: 85%;
    opacity: .6;
}

#mobile-nav ul {
    list-style: none;
    padding: 25px 0 0;
    display: block;
    float: left;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

#mobile-nav ul.sub-menu {
    padding: 0 0 0 20px;
    font-size: .8em;
}

#mobile-nav ul li a,#mobile-nav ul li {
    float: left;
    width: 100%;
}

#mobile-nav ul li a {
    padding: .7em 2em;
    text-transform: uppercase;
    font-size: 90%!important;
}

.mobile-nav-active #mobile-nav {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#nav-obfuscator {
    position: fixed;
    z-index: 9991;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.55);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.itIsSinglePageAndCustomizerOn header.bodyBoxed {
    display: block;
}

.admin-bar header.bodyBoxed {
    top: 46px;

    @media (min-width: 782px) {
        top: 32px;
    }
}

/* navigation style for screen */
header.bodyBoxed #screen-nav ul {
    list-style: none;
    float: right;
}

#screen-nav {
    position: relative;
    z-index: 11;
    float: right;

    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        display: block;

        li {
            position: relative;
            display: inline-block;

            a {
                text-decoration: none;
                font-weight: 700;
                font-size: 75%;
                text-transform: uppercase;
                display: block;
            }
        }
    }
}

#screen-nav ul > li {
    float: left;
}

#screen-nav ul > li > a {
    padding: 0 10px;
    line-height: 64px;
}

#screen-nav ul > li > ul.sub-menu {
    left: -10px;
    top: auto;
    transform: translateY(-10px);
    width: 14.7em;
    padding: 2px 0 12px;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    position: absolute;
    box-shadow: 0 4px 5px rgba(0,0,0,0.05);
    max-height: 300px;
    overflow: auto;
    z-index: -1;
}

#screen-nav ul.nav > li > ul.sub-menu:before {
    content: '';
    display: block;
}

#screen-nav ul.sub-menu ul.sub-menu {
    display: block;
    z-index: 2;
    padding: 0 0 0 22px;
    font-size: .8em;
    float: left;
    opacity: 1;
    position: relative;
    visibility: visible;
    box-shadow: none;
    transform: none;
}

#screen-nav ul.nav > li.sub-menu-active > ul.sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(-2px);
}

#screen-nav ul.sub-menu li {
    display: block;
    float: left;
    width: 100%;
}

#screen-nav ul.sub-menu li a {
    padding: 11px 10px 11px 20px;
    display: block;
    line-height: 1;
}

.icon-arrow-down {
    margin-left: 6px;
}

.icon-arrow-down,.icon-arrow-down svg {
    position: relative;
    width: 8px;
    height: 8px;
    display: inline-block;
}

#screen-nav svg {
    transition: .2s cubic-bezier(.55,.05,.65,.95) all;
}

/* style logo */
header.bodyBoxed .logo {
    position: relative;
    height: 49px;
    margin: 0 auto;
    float: left;
    width: calc(100% - 125px);
    text-align: center;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);

    @media (min-width: 992px) {
        width: auto;
    }
}

header.bodyBoxed .logo img {
    height: 100%;
    width: auto;
}

/* style for cart icon */
header.bodyBoxed span.count {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

header.bodyBoxed span.count:after {
    content: attr(data-count);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 23px;
    font-family: "Trebuchet MS",Helvetica,sans-serif !important;
    font-weight: 600;
    font-size: 10px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #ff4081;
    color: #fff;
}

.yumecommerceCart {
    position: relative;
    float: right;
    z-index: 12;
}

.yumecommerceCart a {
    display: block;
    width: 65px;
    height: 50px;
}

.yumecommerceCart span#cart-icon {
    display: block;
    position: absolute;
    width: 65px;
    height: 50px;
}

.yumecommerceCart a svg {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
}

.itIsIframe header.bodyBoxed {
    display: none;
}

.itIsSinglePageAndCustomizerOn header.bodyBoxed,
body.woocommerce-cart.itIsIframe header.bodyBoxed,
body.itIsIframe.woocommerce-checkout header.bodyBoxed,
body.archive.itIsIframe header.bodyBoxed {
    display: block;
}

body.pinterestIsOpened header.bodyBoxed {
    display: none;
}