/*
Theme Name: Loor Child
Author: the YumeCommerce team
Description: Loor does not look like a standard e-commerce theme, it provides better user experience and gives fresh new approach to you and your clients. 
Version: 1.0
License: Themeforest Split Licence
License URI: -
Author URI: http://yumecommerce.com/
Template: loor
Text Domain: loor
*/


